buildroot/output*
buildroot/dl
buildroot/.auto.deps
buildroot/.config.cmd
buildroot/.config.old
*.depend
.agents
*.o
buildroot/*.patch
buildroot/*.diff
*.orig
*.rej
*~
*.pyc
.claude
.deepseek
.codex
.agents
AGENTS.md
tests
cmt-*.tar.gz



